.bottomfooter {
    background-color: var(--text-color);
    width: 100%;
    left: 0;
    position: absolute;
    color: var(--text-color-inverse);
}
.globalfooter {
    color: var(--text-color-inverse);
}
.copyimg {
    width: 10px;
    height: 10px;
}
.bottommenu a {
    color: var(--text-color-inverse);
}
.bottommenu {
    list-style: none;
}